@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

@import "tailwindcss";


    :root {
  --font-Jost: "Jost", sans-serif;
  --font-Lobster: "Lobster", sans-serif;
}






* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
html,
body {
 height: 100%;
 width: 100%;

}
